@font-face {
    font-family: 'Vilaka'; 
    src: url('Vilaka.woff2') format('woff2'), 
         url('Vilaka.woff') format('woff');  
    font-weight: normal;
    font-style: normal;
}

:root {
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);
}
* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  visibility: hidden; 
  opacity: 0;        
  transition: opacity 1s ease-in-out;
}

.carte {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100px; 
    left: 0px;
    position: absolute;
    bottom: 200px;
    z-index: 100;
}

.card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 0 50px;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(5px 5px 20px rgba(0,0,0,0.7));
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}
.title {
  width: 100%;
  transition: transform 0.5s;
  margin-top: auto;
}
.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}

.titre {
    height: 100vh; 
    display: flex; 
    justify-content: center;
    width: 100%;
    margin: 0px;
    position: absolute;
    top: 50px;
    left: 0px;
    z-index: 100;
}

.titre p {
    color: #ffffff;
    font-size: 5em;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Inter', sans-serif;
    letter-spacing: -2px;
    font-weight: normal;
    /*text-shadow: 2px 2px 5px grey;*/

}


.poster-wall {
    width: 100%;
    height: 300vh; 
    overflow: hidden;
position: absolute;
    top: 130%;
    left: 0%;
    z-index: 0;
    display: flex;
    justify-content: left;
    align-content: center;
    align-items: center;
    filter: brightness(15%);

    transform: translate(-10%, -45%) rotate(20deg) scale(1.1);
width: 150%; 
    gap: 0px; 
}

.poster-row {
    display: flex; 
    width: max-content; 
    animation-timing-function: linear;
    animation-iteration-count: infinite;
        flex-direction: column;
}

.poster-row img {
    height: 300px; 
    width: 230px; 
    transition: transform 0.3s ease; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);

}

.poster-set {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
}

@keyframes scroll-up {
    0% { transform: translateY(0); }
    100% { transform: translateY(-50%); }
}

@keyframes scroll-down {
    0% { transform: translateY(-50%); } 
    100% { transform: translateY(0); } 
}

.row-1 {
    animation-name: scroll-up;
    animation-duration: 50s;
    transform: rotate(3deg); 

}

.row-2 {
    animation-name: scroll-down;
    animation-duration: 54s;
    transform: rotate(-5deg);
}

.row-3 {
    animation-name: scroll-up; 
    animation-duration: 54s; 
    transform: rotate(1deg);
}

.row-4 {
    animation-name: scroll-down; 
    animation-duration: 50s; 
    transform: rotate(1deg);
}

.row-5 {
    animation-name: scroll-up; 
    animation-duration: 54s; 
    transform: rotate(1deg);
}

.row-6 {
    animation-name: scroll-down; 
    animation-duration: 50s; 
    transform: rotate(1deg);
}




